body {
  --bg: #282a36;
  --text-normal: hsla(0, 0%, 100%, 0.88);
  --hr: hsla(0, 0%, 100%, 0.2);
  -webkit-font-smoothing: antialiased;
  --code-bg: rgba(45, 45, 45, 0.44);
  --link: #fffeaa;
  background-color: var(--bg);
  color: var(--text-normal);
}

img {
  max-width: 100%;
}
